{% extends 'base.html' %}
{% load static %}



  {% block content %}
      <style>

.dad{
    padding: 20px;
    background-color: #1F4172;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

label{
    color: #ffffff;
    display: block;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 0.5vw;
}
body{
    margin-bottom: 50px;
}

h1{
    text-align: center;
    color: #ae7aff;
    font-family: "Digital-7 Mono", monospace;
    margin-bottom: 2vw;
}

input{
    outline: teal;
    width: 100%;
    height: 3.2vw;
    border-radius:5px ;
    margin-bottom: 0.7vw;
    border: none;
    padding-left: 1vw;
}

p{
    font-family: sans-serif;
    color: #9c9191;
    margin-top: 1vw;
}
button{
    width: 160px;
    height: 50px;
    text-align: center;
    margin-left: 38vw;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
}

button:hover{
    background: white;
    color: teal;
    transition: 0.4s all ease-in-out;
}
</style>

      <form method="post" action="{% url 'profile_update' %}" enctype="multipart/form-data">{% csrf_token %}
        <h1>Profile update</h1>
        {{ profile_update.as_p }}

        <button type="submit" class="btn btn-success">Update Profile</button>
    </form>


{% endblock content %}