{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}


{% block content %}

<style>

    #img-fluid{
        width: 15vw;
        height: 30vw;
        border-radius: 0 20px 20px 0px;
        object-fit: cover;
    }

    #img-con{
        height: 100vh;
    }

    #detail_con{
        margin-left: 25vw;
    }
    .book_title{
        color: #D6BCFA;
    }
    .book_author{
        color: #805AD5;
    }
    .book_des{
        color: #8f73b9;
    }
    .book_des_text{
        color: white;
    }
    .book_isbn{
        color: #6345a5;
    }
    .book_pages_count{
        color: #655297;
    }
    .book_created{
        color: #9e5cff;
    }
    .save {
        background-color: #1A202C;
        border: none;
    }
    .save:hover{
        color: red;
        cursor: pointer;
    }


    .bg-success1{
        background-color: #384458;
        border-radius: 30px;
        border: none;
    }
    .form_review input{
        background-color: #22314e;
        border: none;
        outline: none;
        border-radius: 10px;
        padding-left: 0.5vw;
        color: white;
    }
    .form_review textarea{
        background-color: #22314e;
        border: none;
        outline: none;
        border-radius: 20px;
        padding: 10px;
        color: white;
    }
    .form_review button[type='submit']{
        background-color: #AA77FF;
        color: white;
        border-radius: 10px;
        border: none;
    }
    .form_review label{
        color: #AA77FF;
    }
    .form_review button[type='submit']:hover{
        background-color: #243849;
        color: #AA77FF;
        transition: 0.4s all ease;
        box-shadow: #343465 0px 0px 9px 0px;
    }
    .review{
        text-align: center;
        color: #AA77FF;
    }
     .review_container{
        background-color: #2D3748;
        margin-left: 27vw;
        border-radius: 30px ;
        border: none;
    }
     .review_text{
         color: white;
     }
     .like{
         border: none;
         background-color: #2D3748;
     }
     .sms{
         color: #b078ed;
     }
     .sms1{
         color: #415df8;
     }



</style>

<div class="container">
        <div class="row">
            <div id="img-con" class="col-3 position-fixed p-3 d-flex flex-column border-left">
                <img id="img-fluid" class="img-fluid ms-5 mb-4 " src="{{ book.books_picture.url }}" alt="">

                <button style="border-radius: 0" class="btn btn-success ">Read</button>
            </div>

            <div id="detail_con" class="col-9 p-3">
                <h2 class="mb-4 book_title">{{ book.title.upper }}</h2>
                {% for i in author_books  %}
                <h4 class="mb-5 book_author">Wrote By {{ i.author.first_name }} {{ i.author.last_name }}</h4>
                {% endfor %}

                <h2 class="book_des">Description</h2>
                <hr style="color: white">
                <p class="book_des_text">{{ book.description }}</p>

                <h5 class="mb-4 book_isbn">Isbn: {{ book.isbn }}</h5>
                <h5 class="mb-4 book_pages_count">Pages: {{ book.pages }}</h5>
                <h6 class="mb-5 book_created">Created time: {{ book.craeted_time| date:'M d , Y' }}</h6>
            <p style="color: #AA77FF"><i class="fa-solid fa-eye fa-xl"></i>  {% get_hit_count for book %}</p>

            <form method="post" style="margin-top:2vw" action="{% url 'save' %}">{% csrf_token %}

                <input type="hidden" value="{{ book.pk }}" name="book_id">
                        {% if user not in book.saved.all %}
                            <button class="save" type="submit"><i style="color: #707070" class="fa-solid fa-bookmark fa-2xl"></i></button>
                        {% else %}
                            <button class="save" type="submit"><i style="color: #ddb635" class="fa-solid fa-bookmark fa-2xl"></i></button>

{#                            <a href="{% url 'saved_books' %}">Saved books</a>#}
                        {% endif %}

            </form>






<section style="background-color: #2c3754; border-radius: 30px">
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card me-5 bg-success1" style="width: 40vw;">
          <div class="card-body p-4 bg-success1">
            <div class="d-flex flex-start w-100 ps-5 bg-success1">
            <img class="me-3" style="width: 60px; height: 60px; object-fit: cover; border-radius: 50%" src="{{ request.user.profile_picture.url }}">
              <form class="form_review" method="post" action="{% url 'review' book.id %}">
                    {% csrf_token %}
                    {{ review.as_p }}

                    <button class="btn btn-warning ms-5" type="submit">Add Review</button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>










                <h1 class="review">Reviews</h1>
                <hr class="mb-5 col-8" style="margin-left: 25vw; color: white">

            {% for i in book.review_set.all %}

                <div class="row p-3 mb-4 col-8 review_container ">
                    <div class="col-2 d-flex ">
                        <img style="width: 60px; height: 60px; object-fit: cover;
                            border-radius: 50%" class="ms-5 comment_pic" src="{{ i.user_id.profile_picture.url }}">
                            </div>
                    <div class="col-6">
                    <div class="d-flex flex-row " style="width: 40vw;">
                        <b class="me-2 sms1">{{ i.user_id.username }} </b> <p class="me-2 sms">by</p>
                        <p> {% if i.star_given == 5 %}
                    <i class="fa-solid text-warning fa-star"></i>
                    <i class="fa-solid text-warning fa-star"></i>
                    <i class="fa-solid text-warning fa-star"></i>
                    <i class="fa-solid text-warning fa-star"></i>
                    <i class="fa-solid text-warning fa-star"></i>
                {% endif %}
                {% if i.star_given == 4 %}
                    <i class="fa-solid text-warning fa-star"></i>
                    <i class="fa-solid text-warning fa-star"></i>
                    <i class="fa-solid text-warning fa-star"></i>
                    <i class="fa-solid text-warning fa-star"></i>
                {% endif %}
                {% if i.star_given == 3 %}
                    <i class="fa-solid text-warning fa-star"></i>
                    <i class="fa-solid text-warning fa-star"></i>
                    <i class="fa-solid text-warning fa-star"></i>
                {% endif %}
                {% if i.star_given == 2 %}
                    <i class="fa-solid text-warning fa-star"></i>
                    <i class="fa-solid text-warning fa-star"></i>
                {% endif %}
                {% if i.star_given == 1 %}
                    <i class="fa-solid text-warning fa-star"></i>
                {% endif %} <p class="ms-4 sms">{{ i.created_time|date:"F j, Y" }} at {{ i.created_time|date:"H:i" }}</p>
                        </p>
                </div>

                <h6 class="review_text">{{ i.review_text }}</h6>

                    <form style="text-align: left; margin-top: 1vw" method="post" action="{% url 'like' %}">
                        {% csrf_token %}

                        <input type="hidden" value="{{ i.pk }}" name="post_id">
                        {% if user not in i.liked.all %}
                            <button class="like" type="submit"><i style="color: white" class="fa-solid fa-heart fa-xl"></i></button>
                            <strong style="color: white">{{ i.liked.all.count }}</strong>

                        {% else %}
                            <button class="like" type="submit"><i style="color: #ff0000" class="fa-solid fa-heart fa-xl"></i></button>
                            <strong style="color: red">{{ i.liked.all.count }}</strong>

                        {% endif %}

                    </form>


                    </div>




                </div>






            {% endfor %}

            </div>

        </div>






    </div>







{% endblock content %}