{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
    .page-link{
        color: #84D2C5;
        background-color: #02705c;
        border: none;
    }
    </style>

    <div class="container">

    {% if books %}
    <h1 class="mb-5" style="text-align: center; color: #6dcd9a">Books</h1>
    {% else %}

    {% endif %}


<div class="card mb-3 " style="max-width: 100vw; height: 20vw; border: none">
  <div class="row no-gutters" style="background-color: #145346">

      {% if page_obj %}
{% for i in page_obj %}


      <div class="col-5 ms-5 me-5 mb-5" style="background-color: #02705c; border-radius: 30px; border: none">
    <div class="row" >
          <div class="col-md-5 " >
      <img style="border-radius: 30px" src="{{ i.books_picture.url }}" class="card-img img-fluid img-thumbnail"  alt="...">
    </div>
    <div class="col-md-7 ">
      <div class="card-body">
        <h5 class="card-title mb-5" ><a class="" style="text-decoration: none; color: #84D2C5" href="{% url 'detail' i.id %}">{{ i.title.upper }}</a></h5>
        <p class="card-text" style="color: #9deeed">{{ i.description|truncatewords:20 }}</p>
      </div>

    </div>

      </div>
    </div>
{% endfor %}

      <nav aria-label="..." style="margin-bottom: 5vw" class="m-5 container">
          <ul class="pagination">
      {% if page_obj.has_previous %}
            <li class="page-item ">
              <a class="page-link" href="{% url 'list' %}?page=1">first</a>
            </li>
            <li class="page-item ">
              <a class="page-link" href="{% url 'list' %}?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
             {% endif %}

            <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}

            <li class="page-item">
                <a class="page-link" href="{% url 'list' %}?page={{ page_obj.next_page_number }}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url 'list' %}?page={{ page_obj.paginator.num_pages }}">last</a>
            </li>
       {% endif %}
          </ul>

        </nav>



  </div>
</div>








{% endif %}







</div>
{% endblock content %}