<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a>{{ review_detail.review_text }}</a>


    <div class="comment">
        <p>{{ review_detail.star_given }}</p>
        <button id="like-btn-{{ review_detail.pk }}" onclick="likeComment({{ review_detail.pk }})" style="background-color: {% if user in comment.likes.all %}red{% else %}white{% endif %};">Like</button>
    </div>

</div>



<script>
 setInterval(updateClock, 1000);

    function likeComment(commentId) {
        fetch(`/like/${commentId}/`)
            .then(response => response.redirected ? window.location.href = response.url : null)
            .catch(error => console.log(error));
    }
</script>
</body>
</html>