{% load static %}
{% url 'home' as home %}
{% url 'list' as list %}
{% url 'landing' as landing %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-secondary p-3 mb-3">
  <div class="container-fluid">
    <a class="navbar-brand {% if request.path == landing %} text-light {% endif %} fs-4" style="color: aquamarine" href="{% url 'landing' %}">GOODREADS</a>
    <button class="navbar-toggler bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == home %} text-light {% endif %} text-warning fs-4" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == list %} text-light {% endif %} text-warning fs-4 ms-2" href="{% url 'list' %}" aria-disabled="true">Books</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active ww2" id="clock"></a>
        </li>
      </ul>
        {% if request.user.is_authenticated %}
        <form class="d-flex" style="margin-right: 2vw" role="search">
        {% else %}
        <form class="d-flex" style="margin-right: 4vw"; role="search">
        {% endif %}
        <input style="border-radius: 0" class="form-control me-2" type="search" value="{{ search }}" name="q" placeholder="Search" aria-label="Search">
        <button style="border-radius: 0" class="btn btn-outline-warning" type="submit">Search</button>
      </form>

        {% if request.user.is_authenticated %}
        <ul class="mb-2 mb-lg-0">
         <li class="nav-item dropdown ">
{#          <a class="nav-link dropdown-toggle text-warning {% if request.path == '/users/profile/' or request.path == '/users/profile/update/' %} text-light {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#              {{ request.user.username.upper }}#}
{#          </a>#}
            <a class="nav-link dropdown-toggle text-warning {% if request.path == '/users/profile/' or request.path == '/users/profile/update/' %} text-light {% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ request.user.username.capitalize }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item " href="{% url 'profile' %}">Yor Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
              <a style="margin-right: 1vw" class="btn btn-success" href="{% url 'register' %}">SignUp</a>
              <a class="btn btn-primary" href="{% url 'login' %}">LogIn</a>
          {% endif %}
          </ul>
        </li>
    </ul>
    </div>
  </div>
</nav>
<div class="container">


{% if messages%}

    {% for i in messages %}

        <p class="alert alert-{{ i.tags }}">{{ i }}</p>

    {% endfor %}

{% endif %}

{% block content %}




{% endblock content %}




</end>
<script>
  function updateClock() {
    var now = new Date();
    var hours = now.getHours();
    var minutes = now.getMinutes();
    var seconds = now.getSeconds();

    // Add leading zeros if needed
    hours = (hours < 10 ? "0" : "") + hours;
    minutes = (minutes < 10 ? "0" : "") + minutes;
    seconds = (seconds < 10 ? "0" : "") + seconds;

    var time = hours + ":" + minutes + ":" + seconds;

    // Update the clock element
    document.getElementById("clock").innerHTML = time;
  }

  // Call the updateClock function every second
  setInterval(updateClock, 1000);
</script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>