{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url "register" %}">Register</a> / <a href="{% url 'login' %}">LogIn</a> /
<a href="{% url 'list' %}">All books</a> / <a href="{% url 'profile' %}">Your profile</a> /
<a href="{% url 'logout' %}">LogOut</a>


{% if messages%}

    {% for i in messages %}

        <h1 class="alert alert-{{ i.tags }}">{{ i }}</h1>

    {% endfor %}

{% endif %}

{% block content %}




{% endblock content %}



</body>
</html>